version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres15
    restart: always
    environment:
      POSTGRES_USER: adarsh
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
